@model Domain.Entities.KitchenOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KitchenOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            Aantal
        </th>
        <th>
            Consumptie Naam
        </th>
        <th>
            Totaal Prijs
        </th>
        <th></th>
    </tr>
    @foreach (var line in Model.OrderLines)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => line.NumberOfItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => line.Consumption.Name)
            </td>
            <td>
                € @Html.DisplayFor(modelItem => line.PriceAmount)
            </td>
            <td>
                @Html.ActionLink("Consumptie details", "Details", "Consumptions", new { id = line.ConsumptionId }, null)
            </td>
        </tr>
    }

</table>

@if (Model.Completed == false)
{
    <p>
        Hier lijnen toevoegen!
    </p>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>