@model Domain.Entities.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Jouw gegevens</h2>

<div>
    <h4>Algemeen:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatlleNet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatlleNet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wargaming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wargaming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsletterSubscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsletterSubscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit gegevens", "EditAccount", "Account")
</p>

<h3>Je wallet</h3>
<hr />
Je huidige saldo bedraagd: € @Html.DisplayFor(model => model.Wallet)


