<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Panel<b class="caret"></b></a>
    <ul class="dropdown-menu" aria-labelledby="OrderDropdown">
        @if(User.IsInRole("Superadmin") || User.IsInRole("Keuken") || User.IsInRole("Keuken Admin"))
        {
            <li>@Html.ActionLink("Lopende keuken orders", "KitchenView", "Kitchen")</li>
        }
        @if (User.IsInRole("Superadmin") || User.IsInRole("Keuken Admin"))
        {
            <li>@Html.ActionLink("Admin keuken  orders", "Index", "Kitchen")</li>
        }
        @if (User.IsInRole("Superadmin"))
        {
            <li>@Html.ActionLink("Ticket type beheer", "Index", "TicketMeta")</li>
            <li>@Html.ActionLink("Consumptiebeheer", "Index", "Consumptions")</li>
            <li>@Html.ActionLink("Credit orders", "CreditIndex", "KitchenAdmin")</li>
            <li>@Html.ActionLink("Cash charge user wallet", "WalletOrder", "Payment")</li>
        }
    </ul>
</li>

