<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student LAN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("dsfdsfd", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <img id="img_logo" alt="Logo" src="@Url.Content("~/content/images/logo_big.png")" width="280" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Consumption", "Index", "Consumptions")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<b class="caret"></b></a>
                        <ul class="dropdown-menu" aria-labelledby="OrderDropdown">
                            <li>@Html.ActionLink("Maak order", "CreateOrder", "KitchenOrders")</li>
                            @if (Request.IsAuthenticated)
                            {
                            <li>@Html.ActionLink("Admin overzicht", "Index", "Kitchen")</li>
                            <li>@Html.ActionLink("Keuken overzicht", "KitchenView", "Kitchen")</li> }

                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>


    @if (Request.RequestContext.RouteData.Values["action"].ToString() == "Index" && Request.RequestContext.RouteData.Values["Controller"].ToString() == "Home")
    {
        @RenderPage("~/views/home/_carousel.cshtml")
    }
    @*@Html.Hidden("referrer", Request.RequestContext.RouteData.Values["Controller"])*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Student LAN</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
