@model IEnumerable<Domain.Entities.Consumption>

@{
    ViewBag.Title = "Consumpties";
}

<h2>Consumpties</h2>

<p>
    @Html.ActionLink("Maak nieuwe consumptie", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ConsumptionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ConsumptionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ConsumptionId })
                </td>
            </tr>
        }

</table>
