@model IEnumerable<Domain.Entities.KitchenOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>


<table class="table">
    <tr>
        <th>
            Besteld Door
        </th>
        <th>
            Besteld Op
        </th>
        <th>
            Te maken
        </th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            
            @foreach (var line in item.OrderLines)
            {
                <pre>
                @Html.DisplayFor(model => line.NumberOfItems) @Html.DisplayFor(model => line.Consumption.Name)
                </pre>
            }
            
        </td>

        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
